<div class="container-fluid">
  <h1 class="text-center">{{ title }}</h1>
  <app-edit
    [inputText]="title"
    inputLabel="Title"
    (changeText)="changeTitle($event)"
  ></app-edit>
  <ul>
    <!-- <li *ngFor="let t of list; let i = index">
      <span [ngClass]="{ 'alert-danger': i % 2 !== 0 }" class="alert">
        {{ t }}</span
      >
    </li> -->
    <li app-highlight *ngFor="let t of list; let i = index" [ngSwitch]="i % 2">
      <div *ngSwitchCase="0">{{ t }} odd</div>
      <div *ngSwitchDefault>{{ t }} even</div>
    </li>
  </ul>
  <div app-highlight>Highlight Me</div>
</div>
