<div class="container-fluid">
  <h1 class="text-center">{{ title }}</h1>
  <button class="btn btn-primary" (click)="toggleShowEdit()">
    Toggle Show Edit
  </button>
  <app-edit
    [inputText]="title"
    inputLabel="Title"
    (changeText)="changeTitle($event)"
    *ngIf="showEdit"
  ></app-edit>
  <app-skills></app-skills>
  <ul>
    <!-- <li *ngFor="let t of list; let i = index">
      <span
        [ngClass]="{ 'alert-danger': i % 2 !== 0 }"
        [ngStyle]="{ color: i % 2 !== 0 ? 'red' : 'blue' }"
        class="alert"
        *ngIf="i % 2 !== 0; else evenEl"
      >
        {{ t }}</span
      >
      <ng-template #evenEl>
        <span>Even Elements</span>
      </ng-template>
    </li> -->
    <li app-highlight *ngFor="let t of list; let i = index" [ngSwitch]="i % 2">
      <div *ngSwitchCase="0">{{ t }} even</div>
      <div *ngSwitchDefault>{{ t }} odd</div>
    </li>
  </ul>
  <div app-highlight>Highlight Me</div>
  <h1>{{ price | appUnit: "IN" }}</h1>
  <h1>{{ price }}</h1>
  <app-collapsible header="Dummy Header">
    <div #dummyContent>
      This is dummy Text
    </div>
  </app-collapsible>
</div>
